.benefits {
  padding: clamp(30px, 0.625rem + 6.25vw, 100px);

  .benefits_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    @include tablet () {
      grid-template-columns: repeat(2, 1fr);
      gap: clamp(30px, 0.982rem + 4.46vw, 60px); // 30 - 60
    }

    @include mobile () {
      grid-template-columns: 1fr;
    }

    .benefits_title {
      max-width: 260px;
    }
  }
}