.mobile_nav_wrapper {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 320px;
  height: 100vh;
  padding: 30px 30px;
  font-size: 20px;
  background-color: var(--footer-bg);

  a {
    color: var(--footer-text-color);
    transition: color 0.2s ease-in;

    &:hover {
      color: #fff;
    }
  }

  &__open {
    display: block;
  }

  .mobile_nav_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin: 0 0 20px;
    padding: 0 0 20px;
    border-bottom: 1px solid rgb(255, 255, 255, 0.2);

    .mobile_cart {
      display: flex;
      align-items: center;
      flex-grow: 1;
      gap: 20px;
      padding: 0 20px 0 0;
      border-right: 1px solid rgba(255, 255, 255, 0.2);

      font-size: 22px;
      font-weight: 500;
    }
  }

  .mobile_nav {
    display: grid;
    gap: 20px;
    font-size: 18px;


    .mobile_nav_item {
      .mobile_sub_nav {
        display: grid;
        gap: 15px;
        padding: 20px 20px 0;
        font-size: 16px;

      }

      .mobile_nav_link {
        &__dropdown {}
      }
    }
  }
}